@import "~@fantassin/typography/heading";
@import "~@fantassin/utils/media-queries";

@import "../colors";
@import "../fonts";

$headings: (
  'h1': (
    'small': (38px, 36px),
    'large': (66px, 66px)
  ),
  'h2': (
    'small': (28px, 28px),
    'large': (54px, 50px)
  ),
  'h3': (
    'small': (23px, 24px),
    'large': (42px, 40px)
  ),
  'h4': (
    'small': (20px, 21px),
    'large': (34px, 36px)
  ),
  'h5': (
    'small': (18px, 20px),
    'large': (22px, 26px)
  ),
  'h6': (
    'small': (16px, 20px),
    'large': (16px, 20px)
  )
);

@mixin hn() {
    font-family: $font-baloo;
    font-weight: normal;
    margin-bottom: $spacer;

    @include breakpoint($medium) {
        margin-bottom: $spacer-xsmall;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    strong {
        font-weight: bold;
    }
}

@mixin h1() {
    @include generateHeading('h1');
    font-family: $font-baloo;
}

@mixin h2() {
    @include generateHeading('h2');
    font-family: $font-baloo;
}

@mixin h3() {
    @include generateHeading('h3');
    font-weight: bold;
    font-family: $font-baloo;
}

@mixin h4() {
    @include generateHeading('h4');
    font-weight: normal;
    font-family: $font-baloo;
}

@mixin h5() {
    @include generateHeading('h5');
    font-weight: bold;
    text-transform: uppercase;
    font-family: $font-baloo;
}

@mixin h6() {
    @include generateHeading('h6');
    font-weight: bold;
    text-transform: uppercase;
    font-family: $font-baloo;
}
